.test-result-container {
    max-width: 800px;
    width: 80%;
    min-height: 200px;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
    border: 1px solid @grey-228;
    background-color:@grey-228;
    box-shadow: @dark-box-shadow-1px;
    .content {
        padding: 20px;
        p {
            margin-bottom: 15px;
        }
        
    }

    .footer {
        text-align: center;
        .print-btn {
            &:hover {
                box-shadow: @dark-box-shadow-2px;
            }
        }
    }
}